/* Global styles */
html {
    scroll-behavior: smooth;
  }
  /* Carousel styles */
  .carousel {
    display: flex;
    justify-content: center;
    overflow: hidden;
    touch-action: pan-y;
    width: 100%;
  }
  
  .carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    justify-content: center;
  }
  
  .carousel-container::-webkit-scrollbar {
    display: none; /* Hide scroll bar on desktop */
  }

  .text-container {
    text-align: center;
  }
  
  .desktop-text {
    display: block;
    font-size: 30px;
  }
  
  .mobile-text {
    display: none;
  }

  .product {
    flex: 0 0 300px;
    padding: 20px;
    margin: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .product img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }
  
  .product h3 {
    margin-bottom: 10px;
  }
  
  .product p {
    margin-bottom: 20px;
  }
  
  .product .add-to-cart {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 25px;
    width: 100%;
    cursor: pointer;
  }
  
  .product .add-to-cart:hover {
    background-color: #0056b3;
  }  

  @media (orientation: landscape ) and (max-width:844px) {
    .carousel {
      height: 65vh ;
      touch-action: pan-y;
      width: 95%;
    }
    .desktop-text {
      display: none;
    }
  
    .mobile-text {
      display: block;
      font-size: 25px;

    }
    .product {
      flex: 0 0 200px;
      padding: 30px ;
      background-color: #f1f1f1;
      border-radius: 5px;
      margin-left: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      display: flex ;
      box-sizing: border-box ;
      flex-direction: column ;
      align-items: center ;
      justify-content: center  ;
      text-align: center ;
  }
  .product img {
    width: 100%;
    height: 50%;
    margin-bottom: 0;
    object-fit: contain;
  }
  .product h3 {
    margin: 10px;
  }
  
  .product p {
    margin: 10px;
  }
  .product .add-to-cart {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 25px;
  }
  
}

  

  @media (max-width: 768px) {
    .container {
      justify-content: center ;
      align-items: center ;
      display: flex ; 
      flex-direction: column ;
      width: 95%;

    }
    .carousel {
      height: 70vh ;
      touch-action: pan-y;
    }
    /* Show scroll bar on mobile */
    .carousel-container {
      scrollbar-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.1);
      justify-content: space-between ;
    }
  
    /* Custom Scrollbar */
    .scrollbar {
      height: 10px;
      margin: 15px 0px 0px 0px;
      width: 50%;
      background-color: #dee4e8;
      border-radius: 27px;
    }
  
    .scrollbar-thumb {
      width: 20%;
      height: 100%;
      background-color: rgb(38,38,38,255);
      border-radius: 5px;
      cursor: pointer;
    }
    .desktop-text {
        display: none;
    }
    
    .mobile-text {
        display: block;
        font-size: 35px;
    }
    
    .product {
        flex: 0 0 300px;
        padding: 30px ;
        background-color: #f1f1f1;
        border-radius: 5px;
        margin-left: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        display: flex ;
        box-sizing: border-box ;
        flex-direction: column ;
        align-items: center ;
        justify-content: center  ;
        text-align: center ;
    }
    .product img {
      width: 100%;
      height: 70%;
      margin-bottom: 0;
    }

    .product .add-to-cart {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 10px 15px;
      border-radius: 25px;
      cursor: pointer;
      
    }
  }

  
